.comment-list li{ list-style-type: none; }

.comment-list .avatar{ float: left; margin: 0 15px 0 0; }

#respond{ margin-top: 30px; }

.comment-author small{ font-size: 12px;}

.form-allowed-tags{font-size: 14px;}

.comment-list .children{ margin-left: 45px;}

.comment-list .comment-body{ margin-bottom: 24px;  }

.comment-list p{ margin-bottom: 15px; }
.comment-body p:last-child{ margin: 0; }

a.comment-reply-link { font-size: 13px; }