html, body, div, span, h1, h2, a, img, ul, li, aside, header, nav, section{ border-top-width: 0px; border-right-width: 0px; border-bottom-width: 0px; border-left-width: 0px; border-style: initial; border-color: initial; font-size: 100%; font: inherit; vertical-align: baseline; margin-top: 0px; margin-right: 0px; margin-bottom: 0px; margin-left: 0px; padding-top: 0px; padding-right: 0px; padding-bottom: 0px; padding-left: 0px; }
 aside, header, nav, section{ display: block; }
body{ line-height: 1; }
*{ box-sizing: border-box; }
.icon{ font-family: icomoon; speak: none; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; }
.icon-search2::before{ content: ; }
.icon-bars::before{ content: ; }
.icon-envelope::before{ content: ; }
img{ max-width: 100%; border-top-left-radius: 3px 3px; border-top-right-radius: 3px 3px; border-bottom-right-radius: 3px 3px; border-bottom-left-radius: 3px 3px; height: auto; }
a{ text-decoration: none; color: rgb(86, 148, 241); }
a{ }
ul{ margin-left: 0px; padding-left: 0px; }
li{ list-style-type: circle; list-style-position: inside; }
h1{ font-size: 30px; letter-spacing: -1px; color: rgb(34, 34, 34); font-weight: bold; }
h2{ margin-bottom: 40px; font: normal normal 300 24px/1.5 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(17, 17, 17); }
 #post-list li, ul{ margin-bottom: 20px; }
html, body{ height: 100%; }
body{ font: normal normal normal 16px/1 'Helvetica Neue', Helvetica, Arial, sans-serif; color: rgb(102, 102, 102); -webkit-font-smoothing: antialiased; text-rendering: optimizelegibility; }
#menu{ display: none; }
.profile{ margin-top: 50px; }
.profile #header{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); margin-bottom: 40px; text-align: center; position: relative; }
.profile #avatar{ display: inline-block; width: 80px; height: 80px; margin-bottom: 20px; }
.profile h1{ font-weight: 400; letter-spacing: 0px; font-size: 20px; color: rgb(34, 34, 34); }
.profile h2{ font-size: 20px; font-weight: 300; color: rgb(170, 170, 170); margin-top: 10px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; font-style: normal; }
nav.main-nav{ padding-top: 20px; padding-right: 20px; padding-bottom: 0px; padding-left: 20px; background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgba(255, 255, 255, 0.898438); margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; text-align: right; z-index: 100; background-position: initial initial; background-repeat: initial initial; }
nav.main-nav .item{ font-size: 25px; vertical-align: middle; margin-top: 0px; margin-right: 8px; margin-bottom: 0px; margin-left: 8px; cursor: pointer; }
nav.main-nav a{ top: 8px; right: 6px; padding-top: 8px; padding-right: 12px; padding-bottom: 8px; padding-left: 12px; color: rgb(91, 173, 240); font-size: 13px; line-height: 1.35; border-top-left-radius: 3px 3px; border-top-right-radius: 3px 3px; border-bottom-right-radius: 3px 3px; border-bottom-left-radius: 3px 3px; display: inline-block; margin-top: 0px; margin-right: 0px; margin-bottom: 5px; margin-left: 5px; }
nav.main-nav a.cta{ background-image: initial; background-attachment: initial; background-origin: initial; background-clip: initial; background-color: rgb(91, 173, 240); color: rgb(255, 255, 255); margin-left: 12px; background-position: initial initial; background-repeat: initial initial; }
.wrapper{ max-width: 600px; margin-top: 0px; margin-right: auto; margin-bottom: 0px; margin-left: auto; padding-top: 60px; padding-right: 40px; padding-bottom: 100px; padding-left: 40px; }
#post-list{ margin-top: 100px; }
#post-list li{ list-style-type: none; }
#post-list li + li{ padding-top: 20px; border-top-width: 1px; border-top-style: solid; border-top-color: rgb(238, 238, 238); }
#post-list a{ color: rgb(51, 51, 51); display: block; font: normal normal bold 19px/1.7 'Helvetica Neue', helvetica, Arial, sans-serif; }
#post-list .dates{ float: right; position: relative; top: 1px; font: normal normal 300 17px/1.8 'Helvetica Neue', helvetica, Arial, sans-serif; color: rgb(187, 187, 187); margin-left: 25px; }
#header{ border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
#post-nav span .arrow{ position: relative; padding-top: 1px; padding-right: 1px; padding-bottom: 1px; padding-left: 1px; }
@media screen and (max-width: 540px){
.wrapper{ padding-top: 20px; padding-right: 20px; padding-bottom: 20px; padding-left: 20px; }
#header{ margin-bottom: 60px; border-bottom-width: 1px; border-bottom-style: solid; border-bottom-color: rgb(238, 238, 238); }
#post-list{ margin-top: 0px; }
#post-list .dates{ display: none; }
h1{ font-size: 26px; }
}